<% layout("layouts/boilerplate") %>

<div class="login-wrapper">
  <div class="auth-card">
    <h2 class="title">Reset Password</h2>

    <form action="/reset-password/<%= token %>" method="POST">
      <div class="input-group">
        <input type="password" name="password" required>
        <label>New Password</label>
      </div>

      <button class="email-btn">Update Password</button>
    </form>
  </div>
</div>